<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <form action="http://localhost:3000/loggin" method="post">
        <input type="text" name="usuario" id="usuarioID">
        <input type="password" name="password" id="passwordID">
        <button type="submit">enviar</button>
    </form>
</body>
</html>