:root{
    --color-blanco: #ebebeb;
    --background: #bdfded;
    --bg-login: #5bb844;
    --bg-notificacion: #f52626;
    --transition: all 0.8s ease;
}

body{
    background-color: var(--background);
}

aside{
    width: 20%;
}

main{
    width: 80%;
}

h1.inicio{
    position: fixed;
    top: 10%;
    transform: translateY(-20vh);
    transition: var(--transition);
    opacity: 0;
}

h1.inicio.show{
    transform: translate(0);
    opacity: 1;
}

div.login {
    position: fixed;
    bottom: 50%;
    background-color: var(--bg-login);
    width: 40%;
    height: 20%;
    border-radius: 20px;
    transform: translateY(100vh);
    transition: var(--transition);
    opacity: 0;
    /* debe tener opacidad 0 mientras este abajo y cuando suba cambiar a 1 */
}

div.login.show{
    transform: translateY(0);
    opacity: 1;
}

.notificacion{
    background-color: var(--bg-notificacion);
    color: var(--color-blanco);
    border-radius: 50%;
}

input.cantidad{
    width: 25%;
    background-color: transparent;
    border: none;
}

@media (max-width: 1024px){
    div.login{
        width: 60%;
        height: 30%;
    }
}

@media (max-width: 460px){
    div.login{
    width: 80%;
    height: 40%;
    }
}

@keyframes rebote{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-5vh);
    }
    100%{
        transform: translateY(0);
    }
}