<%- include('./header.ejs') %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button type="button" id="agregar">Agregar producto</button>
    <ul id="productos">
        <!-- aqui iran los productos -->
    </ul>
    <script src="../public/javascripts/dashBoard.js"></script>
<%- include('./footer.ejs') %>
